################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/MOD Solution/.vs/MOD Solution/v16/Server/sqlite3/db.lock
